.header {
  z-index: 200;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.navbar {
   z-index: 250;
   display: flex; 
   width: 300px;
   background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.footer {
  z-index: 200;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}